<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Ionic Framework 6</ion-list-header>
          <ion-note>Android/Ios/PWA</ion-note>
          <ion-list slot="content">
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let page of menuApp; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[page.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="page.icon + '-outline'"
                  [md]="page.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ page.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>


          <ion-accordion-group>
            <ion-accordion value="component">
              <ion-item slot="header">
                <ion-label>Componentes</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-menu-toggle
                  auto-hide="false"
                  *ngFor="let page of menuComponentes; let i = index"
                >
                  <ion-item
                    routerDirection="root"
                    [routerLink]="[page.url]"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [ios]="page.icon + '-outline'"
                      [md]="page.icon + '-sharp'"
                    ></ion-icon>
                    <ion-label>{{ page.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
          <ion-accordion-group>
            <ion-accordion value="component">
              <ion-item slot="header">
                <ion-label>Natives</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-menu-toggle
                  auto-hide="false"
                  *ngFor="let page of menuNatives; let i = index"
                >
                  <ion-item
                    routerDirection="root"
                    [routerLink]="[page.url]"
                    lines="none"
                    detail="false"
                    routerLinkActive="selected"
                  >
                    <ion-icon
                      aria-hidden="true"
                      slot="start"
                      [ios]="page.icon + '-outline'"
                      [md]="page.icon + '-sharp'"
                    ></ion-icon>
                    <ion-label>{{ page.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
