<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componente JS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content pullingIcon="arrow-up" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando..."></ion-refresher-content>
  </ion-refresher>

  <p>Pull this content down to trigger the refresh.</p>
  <ion-list>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
    <ion-item>
      Item da lista
    </ion-item>
  </ion-list>
</ion-content>
