<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="alertComum()">Alert comum</ion-button><br>
  <ion-button (click)="alertMultipleButtons()">Alert Multiplos botoes</ion-button><br>
  <ion-button (click)="alertConfirm()">Alert Confirm</ion-button><br>
  <ion-button (click)="alertInput()">Alert Prompt</ion-button>
</ion-content>
